.scroll-animation {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.6s ease-out, transform 0.3s ease-out;
  }
  
  .scroll-animation.slide-up {
    opacity: 1;
    transform: translateY(0);
  }